.caseInfoBox {
  margin: 1rem;
}
.caseInfoBox img{
  width: auto;
  height: auto;
  max-width: 100%;
}
.imgList {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.imgList img {
  margin-right: 1rem;
  width:3rem;
  height:1.5rem;
}

.itemTitleBox {
  height:2.5rem;
  font-size:0.75rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
  line-height:0.65rem;
  display: flex;
  align-items: center;
}
.itemTitleBoxtitle {
  margin-right: 1rem;
}

.itemcontent {
  font-size:0.65rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
  line-height:0.9rem;
  opacity: 0.7;
}