body {
  margin-bottom: 2.5rem;
}
.teamheader{
  background: url(./../../images/indexbg.png);
  padding-bottom: 1rem;
}
.teamTitle{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:0.75rem;
  font-family:MicrosoftYaHei;
  color:rgba(255,255,255,1);
}

.teamcontent {
  margin: 0rem 1rem;
  font-size:0.55rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(225,225,225,1);
  line-height:0.9rem;
}

/* .teammenberphoto {
  width:10rem;
  height:7rem;
}
.aui-list .aui-list-item-media {
  width:10rem;
}
.menberBox {
  background-color: #000000;
}*/
.name {
  font-size:0.6rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
}
.position {
  font-size:0.5rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
  opacity: 0.7;
}
.school {
  font-size:0.5rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  opacity: 0.7;
}
.introduce {
  font-size:0.5rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(51,51,51,1);
  opacity: 0.7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.compolet {
  margin-top: 0.5rem;
}
.competetitle {
  font-size:0.6rem;
  font-family:SourceHanSansCN-Regular;
  color:rgba(0,0,0,1);
}
.comInfo {
  font-size:0.5rem;
font-family:SourceHanSansCN-Regular;
color:rgba(51,51,51,1);
opacity: 0.5;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}/*
.aui-media-list-item-inner {
  display: flex;
  flex-direction: row;
} */


.menberPhoto img{
  width:9rem;
  height: auto;
  max-height: 100%;
}
.menberBox {
  background-color: #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.menberList {
  padding:0.5rem 1rem;
  display: flex;
  flex-direction: row;
}
.menberPhoto {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menberIntroduce {
  background-color: white;
  padding-left: 0.5rem;
}

/* @media screen and (max-width: 18.75rem) {
  .menberPhoto img {
    width:4rem;
  }
  .teammenberphoto {
    width:6rem;
    height:7rem;
  }
} */
@media screen and (max-width: 374px) {
  .menberPhoto img {
    width:6rem;
    height: auto;
    max-height: 100%;
  }
}